@import "components/variables";

#almagre__proposal {
    text-align: center;
    font-family: 'Geometos Neue';
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 72px;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba($highlight-color,1) 100%);

    @media #{$xl-and-up} {
        margin-top: 12.5vw;
        padding-top: 12.5vw;
        padding-bottom: 12.5vw;
    }

    @media #{$xxl-and-up} {
        margin-top: 10vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }
}